/*******************/
/* 		Début	  */
/******************/

body
{
	font-family: arial;
	color: blue;
	text-align: center; 

}

/*******************/
/*		image      / 
/******************/

.anime,.drag,.daftpunk,.bleach,.cat
{
  width: 250px;


}

.logo
{
  width: 150px;
}