/*******************/
/* 		Début	  */
/******************/

body
{
	font-family: arial;
	color: blue;
	text-align: center; 

}

/*******************/
/*		image      / 
/******************/

.anime
{
	margin-top: 200px;
}
/******************/
/*		texte  */
/*****************/	

p
{
	font-size: 50px;
}