/*******************/
/* 		Début	  */
/******************/

body
{
	font-family: arial;
	color: blue;
	text-align: center; 

}

/*******************/
/*		image      / 
/******************/

.anime
{
	
}